body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 20px;
  z-index: 1;
  position: absolute;
  top: 10px;
}

#solar-system {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
